# Production build
dist/
build/

# Development
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# Dependencies
node_modules/
.pnpm-store/
.pnpm-debug.log*
.wrangler/
wrangler.jsonc
migrations/

# Environment variables
.env
.env.*
!.env.example
.dev.vars

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# pnpm-specific
pnpm-lock.yaml
.pnpm-store/